<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.crmeb.nsl.nslwxapp.dao.NslCraneMapper">

    <select id="getCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.model.NslCrane">
        select A.id,A.name,A.cbrands,B.name brand_name,A.maxweight,A.introduce,A.images,
                A.expdbcodes,A.guide_price,A.iscollected,A.longitude,A.latitude,A.visits,A.remarks
        from `nsl_crane` A
        left join `nsl_cbrands` B on A.cbrands = B.id
        where A.kbn != '9'
        <if test="cbrandid!=null and cbrandid!=''">
            and A.cbrands = #{cbrandid}
        </if>
        <if test="craneid!=null and craneid!=''">
            and A.id = #{craneid}
        </if>
        limit #{pageindex},#{pagesize};
    </select>

    <select id="getCraneListCount" resultType="int">
        select count(1)
        from `nsl_crane`
        where kbn != '9'
        <if test="cbrandid!=null and cbrandid!=''">
            and cbrands = #{cbrandid}
        </if>
        <if test="craneid!=null and craneid!=''">
            and id = #{craneid}
        </if>
        ;
    </select>
    
    <select id="getAllCraneByCompanyId" resultType="com.zbkj.crmeb.nsl.nslwxapp.model.NslCrane">
        select id,name,cbrands,maxweight,introduce,images,expdbcodes
        from `nsl_crane`
        where kbn != '9' and id in (
        <foreach collection="ids" item="ids" separator=",">
            #{ids}
        </foreach>
        ) limit #{pageindex},#{pagesize};
    </select>

    <select id="getcollectAndCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.response.CollectAndCraneList">
       SELECT  t.userid,t.code,cra.name craneName, cra.introduce,cra.images,cbr.name cbrandName from (
        SELECT (CASE WHEN  ISNULL(cb.userid) THEN 'WBD' ELSE 'BD' END )as  code, coll.userid,coll.craneid from nsl_collection coll
        LEFT join nsl_cbind cb
        on cb.userid = coll.userid
        and cb.userid = coll.userid
        and cb.craneid = coll.craneid where coll.userid = #{userid} ) t
        LEFT join nsl_crane cra
        on cra.id = t.craneid
        left join nsl_cbrands cbr
        on cbr.id = cra.cbrands
    </select>
</mapper>
