<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.crmeb.nsl.nslwxapp.dao.NslCraneMapper">

    <select id="getCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.model.NslCrane">
        select A.id,A.name,A.cbrands,B.name brand_name,A.maxweight,A.introduce,A.images,
               IFNULL(A.expdbcodes,'') expdbcodes,IFNULL(A.guide_price,0) guide_price,
               IFNULL(A.iscollected,'') iscollected,IFNULL(A.longitude,0) longitude,
               IFNULL(A.latitude,0) latitude,IFNULL(A.visits,0) visits,IFNULL(A.remarks,'') remarks
        from `nsl_crane` A
        left join `nsl_cbrands` B on A.cbrands = B.id
        where A.kbn != '9'
        <if test="cbrandid!=null and cbrandid!=''">
            and A.cbrands = #{cbrandid}
        </if>
        <if test="craneid!=null and craneid!=''">
            and A.id = #{craneid}
        </if>
        limit #{pageindex},#{pagesize};
    </select>

    <select id="getCraneWayIds" resultType="int">
        select min(id) as id
        from nsl_cway
        where weight between #{minWeight} and #{maxWeight}
        <if test="minPrimary!=null and minPrimary!='' and maxPrimary!=null and maxPrimary!=''">
            and primary_length between #{minPrimary} and #{maxPrimary}
        </if>
        <if test="minMinor!=null and minMinor!='' and maxMinor!=null and maxMinor!=''">
            and minor_length between #{minMinor} and #{maxMinor}
        </if>
        <if test="legType!=null and legType!=''">
            and legtype = #{legType}
        </if>
        and radius = #{radius}
        and kbn != '9'
        group by craneid
    </select>

    <select id="getCraneListByWay" resultType="com.zbkj.crmeb.nsl.nslwxapp.response.CraneByWayEntry">
        select B.id id,B.name name,B.cbrands brandId,C.name brandName,B.images image,
               B.introduce introduce,A.weightid weightid,D.equipweight equipweight,
               A.radius radius,A.primary_length primaryLength,A.minor_length minorLength,
               A.weight weight,A.way way,A.legtype legType
        from nsl_cway A
        left join nsl_crane B on A.craneid = B.id
        left join nsl_cbrands C on B.cbrands = C.id
        left join nsl_cweight D on A.weightid = D.id
        where A.id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
        order by B.maxweight asc
        limit #{pageindex},#{pagesize};
    </select>
    <select id="getCraneListByWayCount" resultType="int">
        select count(1)
        from nsl_cway
        where id in (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>

    <select id="getCraneListCount" resultType="int">
        select count(1)
        from `nsl_crane`
        where kbn != '9'
        <if test="cbrandid!=null and cbrandid!=''">
            and cbrands = #{cbrandid}
        </if>
        <if test="craneid!=null and craneid!=''">
            and id = #{craneid}
        </if>
        ;
    </select>

    <select id="getCraneDetailById" resultType="com.zbkj.crmeb.nsl.nslwxapp.model.NslCrane">
        select A.id,A.name,A.cbrands,B.name brand_name,A.maxweight,A.introduce,A.images,
               A.expdbcodes,A.guide_price,A.iscollected,A.longitude,A.latitude,A.visits,A.remarks
        from `nsl_crane` A
        left join `nsl_cbrands` B on A.cbrands = B.id
        where A.id = #{craneid};
    </select>
    
    <select id="getAllCraneByCompanyId" resultType="com.zbkj.crmeb.nsl.nslwxapp.model.NslCrane">
        select id,name,cbrands,maxweight,introduce,images,expdbcodes
        from `nsl_crane`
        where kbn != '9' and id in (
        <foreach collection="ids" item="ids" separator=",">
            #{ids}
        </foreach>
        ) limit #{pageindex},#{pagesize};
    </select>

    <select id="getcollectAndCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.response.CollectAndCraneList">
       SELECT  t.userid,t.code,cra.name craneName, cra.introduce,cra.images,cbr.name cbrandName from (
        SELECT (CASE WHEN  ISNULL(cb.userid) THEN 'WBD' ELSE 'BD' END )as  code, coll.userid,coll.craneid from nsl_collection coll
        LEFT join nsl_cbind cb
        on cb.userid = coll.userid
        and cb.userid = coll.userid
        and cb.craneid = coll.craneid where coll.userid = #{userid} ) t
        LEFT join nsl_crane cra
        on cra.id = t.craneid
        left join nsl_cbrands cbr
        on cbr.id = cra.cbrands
    </select>

    <select id="getHotCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.response.HotOrNewCraneEntry">

        select A.id,A.name,A.cbrands,B.name brand_name,A.maxweight,A.introduce,A.images,
               A.guide_price,A.visits,A.update_date
        from `nsl_crane` A
        left join `nsl_cbrands` B on A.cbrands = B.id
        where A.kbn != '9'
        order by A.visits desc limit 0,5
    </select>

    <select id="getNewCraneList" resultType="com.zbkj.crmeb.nsl.nslwxapp.response.HotOrNewCraneEntry">

        select A.id,A.name,A.cbrands,B.name brand_name,A.maxweight,A.introduce,A.images,
               A.guide_price,A.visits,A.update_date
        from `nsl_crane` A
        left join `nsl_cbrands` B on A.cbrands = B.id
        where A.kbn != '9'
        order by A.update_date desc limit 0,5
    </select>

</mapper>
